*.db
*.db-journal
*.sqlite
*.sqlite3

.env
.env.development.local
.env.production.local
.env.local

.npm
.eslintcache
/backend/pids
/backend/logs

Thumbs.db

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local